include base.pug

mixin passwordForm(bodyWithError)
    - var current = bodyWithError ? bodyWithError.currentPassword : "";
    - var newPassword = bodyWithError ? bodyWithError.newPassword : "";
    - var confirm = bodyWithError ? bodyWithError.confirmPassword : "";
    
    form#accountForm(action="/profile/change-password", method="POST")
        +modal-form(`Change Password`)
            table
                tr
                    td
                        label.form-label Current Password:
                    td
                        input(type="password", name="currentPassword", value=current, placeholder="Password", required, autofocus)

                tr
                    td
                        label.form-label New Password:
                    td
                        input(type="password", name="newPassword", value=newPassword, placeholder="New Password", required)

                tr
                    td
                        label.form-label Confirm New Password:
                    td
                        input(type="password", name="confirmPassword", value=confirm, placeholder="Confirm Password", required)